*.gz
Deep-Learning/image-classification/*.p
Deep-Learning/intro-to-tensorflow/*.zip
Deep-Learning/intro-to-tensorflow/*.pickle
*/.ipynb_checkpoints/*
flappybird/*
Deep-Learning/embeddings/checkpoints/*
Deep-Learning/gan_mnist/.ipynb_checkpoints/
Deep-Learning/gan_mnist/checkpoints/
Deep-Learning/language-translation/.ipynb_checkpoints
